button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
body{
    text-align: center;
    background-color: rgb(47, 87, 60);
    color: white;
    font-family: 'Inter', sans-serif;
}
.infoList{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 25px;
    font-size: 20px;
    background-color: rgba(228, 226, 226, 0.9);
    color: rgb(26, 35, 26)
}
